body{
  background-color: #00ced1;
}
.App{
  background-color: #191970;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}
#todo-form input{
  background-color: #00fa9a;
  border: 0;
  width: 200px;
  height: 50;
  padding: 0 20px;
  margin: 20px;
  border-radius: 10px;
  color: #000;
}
#todo-form button{
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: brown;
}