.list{
    color: #fff;
    width: 300px;
    margin: 20px auto;
    height: 50px;
    background-color: #0dbf07;
    border-radius: 5px;
}
.list p{
    padding: 10px;
    position: relative;
    transition: ease-in-out;
}